.my-page {
    display: flex;
    width: 1015px;
    min-height: 100vh;
    margin: auto;
    flex-direction: column;
}
.my-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 12px 0;
    flex-grow: 0;
}
.my-main {
    margin-top: 16px;
    flex-grow: 1;
}
.my-footer {
    text-align: center;
    font-size: 12px;
    flex-grow: 0;
    padding: 10px;
}